@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

.second-text {
    color: red
}

.second-text::before {
    animation: animate 4s steps(12) infinite;
}

#logo {
    font-family: 'Cinzel Decorative', serif;
    font-weight: 900;
    color: red;
}

#description {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: 1px;
    text-align-last: center;
}

@media screen and (max-width: 640px) {
    #home{
        margin-top: 100px;
    }
    #arrow{
        margin: 50px;
    }
    #links {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
        border-bottom: 2px solid red;
    }
    
    #links-flex {
        justify-items: center;
        align-items: center;
    }
    #mode {
        visibility: collapse;
    }
    #name {margin-top: 20px;}
}

@keyframes animate {
    40%, 60% {
        left: 100%;
    }

    100% {
        left: 0;
    }
}